


.Login-component {
    /* The image used */
   
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.App {
    font-family: sans-serif;
    text-align: center;
  }
  .form {
    max-width: 330px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: white;
    padding-bottom: 20px;
    padding-top: 5px;
    padding-left: 80px;
    padding-right:80px ;
    margin-top: 5px;
  }
  
  .form .form__custom-button {
    margin-top: 50px;
  }